{% extends "base.html" %}


{% block content %}
<!-- Page Content -->
<div class="container">

        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Featured Lisiting 1
          <small>Location</small>
        </h1>
      
        <!-- Portfolio Item Row -->
        <div class="row">
      
          <div class="col-md-8">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
          </div>
      
          <div class="col-md-4">
            <h3 class="my-3">Listing Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3 class="my-3">Listing Details</h3>
            <ul>
              <li>Lorem Ipsum</li>
              <li>Dolor Sit Amet</li>
              <li>Consectetur</li>
              <li>Adipiscing Elit</li>
            </ul>
          </div>
      
        </div>
        <!-- /.row -->
      
        <!-- Related Projects Row -->
        <h3 class="my-4">Additional Photograph</h3>
      
        <div class="row">
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="https://images.unsplash.com/flagged/photo-1556438758-872c68902f60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
          </div>
      
          <div class="col-md-3 col-sm-6 mb-4">
            <a href="#">
                  <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                </a>
          </div>
      
        </div>
        <!-- /.row -->
      
      </div>
      <!-- /.container -->


  
<hr>


        <!-- Portfolio Item Heading -->
        <h1 class="my-4">Featured Lisiting 2
            <small>Location</small>
          </h1>
        
          <!-- Portfolio Item Row -->
          <div class="row">
        
            <div class="col-md-8">
              <img class="img-fluid" src="https://images.unsplash.com/photo-1422818159909-e2fc50042acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
            </div>
        
            <div class="col-md-4">
              <h3 class="my-3">Listing Description</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
              <h3 class="my-3">Listing Details</h3>
              <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
              </ul>
            </div>
        
          </div>
          <!-- /.row -->
        
          <!-- Related Projects Row -->
          <h3 class="my-4">Additional Photograph</h3>
        
          <div class="row">
        
            <div class="col-md-3 col-sm-6 mb-4">
              <a href="#">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1422818159909-e2fc50042acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
                  </a>
            </div>
        
            <div class="col-md-3 col-sm-6 mb-4">
              <a href="#">
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1422818159909-e2fc50042acb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60" alt="">
                  </a>
            </div>
        
            <div class="col-md-3 col-sm-6 mb-4">
              <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                  </a>
            </div>
        
            <div class="col-md-3 col-sm-6 mb-4">
              <a href="#">
                    <img class="img-fluid" src="http://placehold.it/500x300" alt="">
                  </a>
            </div>
        
          </div>
          <!-- /.row -->
        
        </div>
        <!-- /.container -->

    <div class="container">
        <hr>

     <!-- Portfolio Item Heading -->
     <h1 class="my-4">Featured Lisiting 3
        <small>Secondary Text</small>
      </h1>
    
      <!-- Portfolio Item Row -->
      <div class="row">
    
        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>
    
        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>
    
      </div>
      <!-- /.row -->
    
      <!-- Related Projects Row -->
      <h3 class="my-4">Related Images</h3>
    
      <div class="row">
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
              </a>
        </div>
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
              </a>
        </div>
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
              </a>
        </div>
    
        <div class="col-md-3 col-sm-6 mb-4">
          <a href="#">
                <img class="img-fluid" src="http://placehold.it/500x300" alt="">
              </a>
        </div>
    
      </div>
      <!-- /.row -->
    
    </div>
    <!-- /.container -->
  </div>
      {% endblock %}